body{
	background-color: #222;
	padding-top: 50px;
}

.mainContentContainer{
	
	background-color: green;
	padding-top: 15px;
	background-image: URL('../img/stripes.png');
}

.mainContentContainer .personalInfo{
	height: 200px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ffffff;
	width: 780px;
}

.mainContentContainer .personalInfo .portraitContainer{
	padding: 15px;
	float : left;
}

.mainContentContainer .personalInfo .portraitOuter {
	border: 1px solid #e1e1e1;
	background-color: #ffffff;
	padding: 10px;
	width: 105px;
}

.mainContentContainer .personalInfo .nameContainer {
	float: left;
	margin-left: 20px;
}

.mainContentContainer .personalInfo .nameContainer h1{
	display: block;
	margin: 15px 0px 3px 0px;	
}

.mainContentContainer .personalInfo .nameContainer span{
	font-size: 18px;
	letter-spacing: 2px;
}

.cvBody{
	background-color: #ffffff;	
	border-top: 1px solid #e1e1e1;
}

.cvBody .cvSection .sectionHeader{
	background-color: #008000;
	width: 260px;
	position: relative;
	left: -20px;
	top: 20px;
	background-image: URL('../img/headerEdge.png');
	background-repeat: no-repeat;
	padding: 20px 0px 0px 40px;
}

.cvBody .sectionHeader h2{
	margin: 0px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 22px;
	color: #ffffff;
    letter-spacing: 2px;
    line-height: 40px;
}

.cvBody  .cvSection .sectionBody{
	width: 90%;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #fbfbfb;	
	border: 1px solid #f1f1f1;	*/
	letter-spacing: 1px;
}

.cvBody .cvSection .sectionBody .header{
	background-image: url('../img/whiteStripes.png');
	width: 100%;
	padding: 10px 10px 10px 10px;
}

    .cvBody .cvSection .sectionBody .header div:nth-child(1){
        float: left;
    }

.cvBody  .cvSection .sectionBody .header h1{
	color: #008000;
	font: bold 24px Calibri;
	display: block;
	margin: 0;
}

.cvBody  .cvSection .sectionBody .header h2{
	color: #333;
	font: normal 16px Calibri;
	display: block;
	margin: 0;
}

.cvBody .cvSection .sectionBody .header div:nth-child(2){
        float: right;
        padding: 5px;
    }

.sectionBody .header div:nth-child(2) span{
	display: block;
    font-family: Calibri;
    font-size: 16px;
    font-weight: normal; 
    line-height: 5px;
}

.sectionBody .header div:nth-child(2) a {
    font-family: Calibri;
    font-size: 16px;
    font-weight: normal;
}

.cvBody  .cvSection .sectionBody p{
	font-size: 12px;
	text-align: justify;
}

.cvBody  .cvSection .sectionBody > div{
	border: 1px solid #ffffff;
	padding: 15px;
}

.cvBody  .cvSection{
	height: auto;
}

.itemBody > div {
    padding: 15px;
}

    .itemBody > div ul {
        float: left;
        margin-right: 25px;
    }

.item {
    margin-bottom: 65px;
}

.mainContentContainer .personalInfo .contactContainer {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	border-top: 1px solid #e1e1e1;
	padding: 0px 10px 0px 10px;
}

.mainContentContainer .personalInfo .contactContainer .contactItem{
	padding-top: 10px;
}

.mainContentContainer .personalInfo .contactContainer .contactItem img{
	margin-right: 10px;
}

.businessCard{
	display: block;
	height: 120px;
	background-color: #f1f1f1;
	border-top: 6px solid #008000;
	border-bottom: 0px solid #008000;
	width: 220px;
	position: fixed;
	left: 25px;
	top: 25px;
	display: none;
}

.businessCard h2{
	font-size: 18px;
	margin: 5px 0px 0px 5px;
	display: block;
	line-height: 18px;
}

.businessCard h3{
	font-size: 10px;
	margin: 4px 0px 0px 5px;
	display: block;
	line-height: 10px;
}

.businessCard span{
	font-size: 12px;
	margin-left: 5px;
	line-height: 0px;
}

.businessCard a{
	font-size: 10px;
	margin-left: 5px;
	line-height: 0px;
}

.businessCard .delimiter{
	height: 0px;
	width: 200px;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #e1e1e1;
	margin: 10px 0px 0px 5px
}