/* Core & reset
======================================================*/
body{
	padding-top: 50px;
    background-color: #222;
    font-family: Calibri;
    color: #333;
    letter-spacing: 2px;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 22px;
}

p {
    text-align: justify;
    margin: 0;
}

a {
  color: #0088cc;
  text-decoration: none;

}
a:hover {
  color: #005580;
  text-decoration: underline;
}

.appBgColor {
    background-color: #0099CC;
}

.appFontColor {
    color: #0099CC;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 780px;
}

.topBorder {
    width: 100%;
    background-image: url('../img/stripes.png');
    height: 20px;
}

/* Application specific
======================================================*/

/* Top section. Header, personal info
======================================================*/
.header {
    background-color: #f1f1f1;
    padding: 20px;
}

.portraitContainer {
    float: left;
    border: 0px solid red;
    padding: 10px;
    background-color: #fcfcfc;
    border: 1px solid #e1e1e1;
}

    .portraitContainer img {
        display: block;
    }

.personalInfoContainer {
    float: left;
    border: 0px solid red;
    width: 580px;
    margin-left: 30px;
}

    .personalInfoContainer > div:nth-child(1) {
        border-bottom: 1px solid #e1e1e1;
    }

    .personalInfoContainer > div:nth-child(2) {
        float: right;
        margin-top: 13px;
    }

.contactItem {
    padding: 4px;
}

/* Main body
======================================================*/

.mainBody {
    background-image: url('../img/shadow.png');
    background-repeat: repeat-x;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #e1e1e1;
}

.section {
    padding: 20px 40px 0px 40px;
}

.sectionHeader {
	width: 260px;
	position: relative;
	left: -60px;
	background-image: URL('../img/headerEdge.png');
	background-repeat: no-repeat;
	padding: 20px 0px 0px 40px;
    border-bottom-right-radius: 15px;
}

    .sectionHeader h2 {
        color: #ffffff;
        line-height: 40px;
    }

.sectionBody {
    width: 100%;
    margin-top: 20px;    
}

.sectionInfo {
    width: 100%;
    background-image: url('../img/whiteStripes.png');
}

    .sectionInfo > div {
        padding: 10px;
    }

    .sectionInfo > div:nth-child(1) {
        float: left;
    }

    .sectionInfo > div:nth-child(2) {
        padding: 10px;
        float: right;
    }

        .sectionInfo > div:nth-child(2) span {
            display: block;
        }